@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
}

body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.loaderStatic {
  position: absolute;
  z-index: 5;
}

.loader_1 {
  position: absolute;
  z-index: 2;
  animation: 2s infinite firstLoader;
}

.loader_2 {
  position: absolute;
  z-index: 3;
  animation: 2s infinite secondLoader;
}
@keyframes firstLoader {
  0% {
    rotate: 0;
  }
  50% {
    transform: translateX(5px);
    rotate: 26deg;
  }
  100% {
    rotate: 0;
  }
}

@keyframes secondLoader {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  100% {
    rotate: 15;
  }
}
